@import url('https://fonts.googleapis.com/css2?family=Sigmar&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #06433d;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: rgb(238, 238, 238);
  font-family: Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar{
    width:8px;
}
::-webkit-scrollbar-track{
    background: #ffffff;
}
::-webkit-scrollbar-thumb{
    background: linear-gradient(90deg, #342b26 0%, #c7beaf 100%);
    border-radius: 15px;
}
h2{
    font-family: "Sigmar", serif;
    text-shadow:2px 3px 5px rgba(0,0,0,0.35);
    font-size: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.header{
    background: linear-gradient(90deg, #342b26 0%, #c7beaf 100%);
    box-shadow:3px 0.5px 1px rgba(253, 253, 253, 0.936);
}
.header-title{
    font-family: "Sigmar", serif;
    font-size: 25px;
    transform: skewX(-15deg);
    letter-spacing: 5px;
    text-transform: uppercase;
    color: rgb(0, 0, 0);
}
.video{
    height: 300px;
}
.list{
    background: #6b6b6b7e;
}
.description{
    background: rgba(159, 164, 163, 0.495);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    padding: 20px;
    line-height: 30px;
}
.container{
    min-height: 100vh;
}
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, #342b26 0%, #c7beaf 100%);
    box-shadow:1px 1px 3px 1px rgba(253, 253, 253, 0.936);
}
.link{
    color: rgb(0, 0, 0);
    font-size: 28px;
    margin-right: 1rem;
    margin-left: 1rem;
    padding: 0.3rem;
}
.footer-links{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
p{
    color: rgb(0, 0, 0);
}

@media (max-width:1030px){
    .header-title{
        font-size: 20px;
    }
    .container-description{
        margin-bottom: 50rem;
        position: relative;
        margin-top: 2rem;
    }
    .description{
        max-width: 100% !important;
        margin-top: 1rem;
        font-size: 14px;
    }
    .descriptions{
        margin-top: 1rem;
    }
    h2{
        font-size: 16px;
    }
    .video-box:nth-child(3){
        display: none;
    }
}

@media (max-width:530px){
    .description:nth-child(2){
       display: none;
    }
    .descriptions{
        margin-top: 5rem;
    }
}

@media(max-width: 340px){
    .descriptions{
        margin-top: 30rem;
    }
}
