@import url('https://fonts.googleapis.com/css2?family=Sigmar&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #06433d;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: url(/bg.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  font-family: Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar{
    width:8px;
}
::-webkit-scrollbar-track{
    background: #ffffff;
}
::-webkit-scrollbar-thumb{
    background: linear-gradient(90deg, #342b26 0%, #c7beaf 100%);
    border-radius: 15px;
}

.header{
    background: linear-gradient(90deg, #342b26 0%, #c7beaf 100%);
    box-shadow:3px 0.5px 1px rgba(253, 253, 253, 0.936);
}
.header-title{
    font-family: "Sigmar", serif;
    text-shadow:2px 3px 5px rgba(0,0,0,0.35);
    font-size: 20px;
}
.list{
    background: #6b6b6b7e;
}
.description{
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    padding: 20px;
}
.container{
    min-height: 100vh;
}
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, #342b26 0%, #c7beaf 100%);
    box-shadow:1px 1px 3px 1px rgba(253, 253, 253, 0.936);
}
.link{
    color: rgb(0, 0, 0);
    font-size: 28px;
    margin-right: 1rem;
    margin-left: 1rem;
    padding: 0.3rem;
}
.footer-links{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
p{
    color: rgb(0, 0, 0);
}
